---
layout: default
title: "El Blog de N4p5t3r"
---

<h1>Últimas Publicaciones</h1>

<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <p><strong>Publicado el:</strong> {{ post.date | date: "%d de %B de %Y" }}</p>
      {% if post.image %}
        <img src="{{ post.image | relative_url }}" alt="Imagen de {{ post.title }}" class="post-image">
      {% endif %}
      <p>{{ post.excerpt }}</p>
      <a href="{{ post.url | relative_url }}">Leer más...</a>
    </li>
  {% endfor %}
</ul>
